<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>JobSeekerApp</display-name>
	<filter>
		<description>
		</description>
		<display-name>CompanyRegistrationFilter</display-name>
		<filter-name>CompanyRegistrationFilter</filter-name>
		<filter-class>CompanyRegistrationFilter</filter-class>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>JobSeekerFilter</display-name>
		<filter-name>JobSeekerFilter</filter-name>
		<filter-class>JobSeekerFilter</filter-class>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>ChangePasswordFilter</display-name>
		<filter-name>ChangePasswordFilter</filter-name>
		<filter-class>ChangePasswordFilter</filter-class>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>CompanyLoginFilter</display-name>
		<filter-name>CompanyLoginFilter</filter-name>
		<filter-class>CompanyLoginFilter</filter-class>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>CompanyChangePasswordFilter2</display-name>
		<filter-name>CompanyChangePasswordFilter2</filter-name>
		<filter-class>CompanyChangePasswordFilter2</filter-class>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>CreateJobListingFilter</display-name>
		<filter-name>CreateJobListingFilter</filter-name>
		<filter-class>CreateJobListingFilter</filter-class>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>CompanyEditJobListingFilter</display-name>
		<filter-name>CompanyEditJobListingFilter</filter-name>
		<filter-class>CompanyEditJobListingFilter</filter-class>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>UpdateListingStatusFilter</display-name>
		<filter-name>UpdateListingStatusFilter</filter-name>
		<filter-class>UpdateListingStatusFilter</filter-class>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>DeleteListingFilter</display-name>
		<filter-name>DeleteListingFilter</filter-name>
		<filter-class>DeleteListingFilter</filter-class>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>JobSeekerRegisterFilter</display-name>
		<filter-name>JobSeekerRegisterFilter</filter-name>
		<filter-class>JobSeekerRegisterFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CompanyRegistrationFilter</filter-name>
		<url-pattern>/CompanyRegistrationFilter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CompanyRegistrationFilter</filter-name>
		<servlet-name>CompanyRegistrationServlet</servlet-name>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CompanyLoginFilter</filter-name>
		<url-pattern>/CompanyLoginFilter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CompanyChangePasswordFilter2</filter-name>
		<url-pattern>/CompanyChangePasswordFilter2</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CompanyChangePasswordFilter2</filter-name>
		<servlet-name>CompanyChangePasswordServlet</servlet-name>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CreateJobListingFilter</filter-name>
		<url-pattern>/CreateJobListingFilter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CreateJobListingFilter</filter-name>
		<servlet-name>CreateJobListingServlet</servlet-name>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CompanyEditJobListingFilter</filter-name>
		<url-pattern>/CompanyEditJobListingFilter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CompanyEditJobListingFilter</filter-name>
		<servlet-name>UpdateListingServlet</servlet-name>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>UpdateListingStatusFilter</filter-name>
		<url-pattern>/UpdateListingStatusFilter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>UpdateListingStatusFilter</filter-name>
		<servlet-name>UpdateListingStatusServlet</servlet-name>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>DeleteListingFilter</filter-name>
		<url-pattern>/DeleteListingFilter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>DeleteListingFilter</filter-name>
		<servlet-name>DeleteListingServlet</servlet-name>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>JobSeekerFilter</filter-name>
		<url-pattern>/JobSeekerFilter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>JobSeekerFilter</filter-name>
		<servlet-name>Login</servlet-name>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ChangePasswordFilter</filter-name>
		<url-pattern>/ChangePasswordFilter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ChangePasswordFilter</filter-name>
		<servlet-name>ChangePassword</servlet-name>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>JobSeekerRegisterFilter</filter-name>
		<url-pattern>/JobSeekerRegisterFilter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>JobSeekerRegisterFilter</filter-name>
		<servlet-name>Register</servlet-name>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<servlet>
		<description>
		</description>
		<display-name>CompanyRegistrationServlet</display-name>
		<servlet-name>CompanyRegistrationServlet</servlet-name>
		<servlet-class>com.avensys.controller.CompanyRegistrationServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CompanyLoginServlet</display-name>
		<servlet-name>CompanyLoginServlet</servlet-name>
		<servlet-class>com.avensys.controller.CompanyLoginServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CompanyChangePasswordServlet</display-name>
		<servlet-name>CompanyChangePasswordServlet</servlet-name>
		<servlet-class>com.avensys.controller.CompanyChangePasswordServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CreateJobListingServlet</display-name>
		<servlet-name>CreateJobListingServlet</servlet-name>
		<servlet-class>com.avensys.controller.CreateJobListingServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateListingServlet</display-name>
		<servlet-name>UpdateListingServlet</servlet-name>
		<servlet-class>com.avensys.controller.UpdateListingServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteListingServlet</display-name>
		<servlet-name>DeleteListingServlet</servlet-name>
		<servlet-class>com.avensys.controller.DeleteListingServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateListingStatusServlet</display-name>
		<servlet-name>UpdateListingStatusServlet</servlet-name>
		<servlet-class>com.avensys.controller.UpdateListingStatusServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.avensys.controller.Login</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Register</display-name>
		<servlet-name>Register</servlet-name>
		<servlet-class>com.avensys.controller.Register</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ChangePassword</display-name>
		<servlet-name>ChangePassword</servlet-name>
		<servlet-class>com.avensys.controller.ChangePassword</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CreateJobRequestServlet</display-name>
		<servlet-name>CreateJobRequestServlet</servlet-name>
		<servlet-class>com.avensys.controller.CreateJobRequestServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>JobSeekerLogout</display-name>
		<servlet-name>JobSeekerLogout</servlet-name>
		<servlet-class>com.avensys.controller.JobSeekerLogout</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>JobSeekerForgetPassword</display-name>
		<servlet-name>JobSeekerForgetPassword</servlet-name>
		<servlet-class>com.avensys.controller.JobSeekerForgetPassword</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CompanyLogoutServlet</display-name>
		<servlet-name>CompanyLogoutServlet</servlet-name>
		<servlet-class>com.avensys.controller.CompanyLogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CompanyRegistrationServlet</servlet-name>
		<url-pattern>/CompanyRegistrationServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CompanyLoginServlet</servlet-name>
		<url-pattern>/CompanyLoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CompanyChangePasswordServlet</servlet-name>
		<url-pattern>/CompanyChangePasswordServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateJobListingServlet</servlet-name>
		<url-pattern>/CreateJobListingServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateListingServlet</servlet-name>
		<url-pattern>/UpdateListingServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteListingServlet</servlet-name>
		<url-pattern>/DeleteListingServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateListingStatusServlet</servlet-name>
		<url-pattern>/UpdateListingStatusServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/Register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangePassword</servlet-name>
		<url-pattern>/ChangePassword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateJobRequestServlet</servlet-name>
		<url-pattern>/CreateJobRequestServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JobSeekerLogout</servlet-name>
		<url-pattern>/JobSeekerLogout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JobSeekerForgetPassword</servlet-name>
		<url-pattern>/JobSeekerForgetPassword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CompanyLogoutServlet</servlet-name>
		<url-pattern>/CompanyLogoutServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
